:root {
    --topBar: 50px;

    --yellow: #FFF159;
    --bg: #EBEBEB;
    --black: #000;
    --grey3: #333;
    --greyC: #CCC;
    --greyEA: #EAEAEA;
    --black2: rgba(0, 0, 0, .2);
    --white: #fff;
}